<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p><%= f.label :username %>
  <%= f.text_field :username %></p>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :muse %>
  <%= f.text_field :muse %></p>

  <p><%= f.label :bio %>
  <%= f.text_area :bio %></p>

  <%= f.submit %>
<% end %>
