<h1><%= @user.name %></h1>

<p><%= flash[:notice] %></p>

<h3><%= @user.username %></h3>
<h3><%= @user.muse %></h3>
<p><%= @user.bio %></p>
<p><%= link_to "Edit Casse-cou", edit_user_path(@user) %></p>
<p><%= button_to "Delete", user_path(@user), method: :delete %></p>


<h3>Salle Hosting:</h3>
<% @user.events_hosting.each do |event| %>
  <p><%= link_to event.title, event_path(event) %></p>
<% end %>


<h3>Salle Attending:</h3>
<% @event_hash.each do |id, event| %>
<p><%= link_to event.title, event_path(event) %></p>
<% end %>
