<%= form_for @event do |f| %>

  <% @event.errors.any? do %>
    <% @event.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :capacity %>
  <%= f.number_field :capacity %></p>

  <p><%= f.label :time %>
  <%= f.datetime_field :time %></p>

  <p><%= f.label :description %>
  <%= f.text_area :description %></p>

  <%= f.label :venue %>
  <%= f.collection_select :venue_id, Venue.all, :id, :name %>

  <p><%= f.submit %></p>
<% end %>
