<h3>Events</h3>

<%= link_to 'Create an Event!', new_event_path %>

<% @events.each do |event| %>
  <h3><%= link_to event.title, event_path(event) %></h3>
  <p>Venue: <%= event.venue.name %></p>
  <p><%= event.venue.category %></p>
  <p>When: <%= event.time.strftime("%m/%d/%Y at %I:%M%p") %></p>
<% end %>
