<!DOCTYPE html>
<html>
  <head>
    <title>Bordel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="row">
          <ul>
            <li><a href="./home">Home</a></li>
            <li><a href="./events/new">Create Event</a></li>
            <li><a href="./events">Checkout Events</a></li>
            <li><a href="./venues">Venues</a></li>
            <li><%= logged_in? ? button_to('Logout', logout_path, method: :delete) : link_to('Login', login_path) %></li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
